
.titulo{
  margin-top: 80px;
  box-shadow: 0 0 20px black;
  width: 500px;
  background-color: aliceblue;
  border-radius: 20px;
  font-family: fantasy;
}

.papel{
  background: url(/public/img/papelito.png) no-repeat;
  height: 300px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.papel.anim{
  animation: pal 1s ease-in-out;
}

@keyframes pal {

  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }

}

.par{
  position: relative;
  width: 400px;
  height: auto;
  left: 40px;
  bottom: 20px;
  line-height: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn1{
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  background-color: rgba(255, 255, 200, 0.5);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.btn1:hover{
  transform: scale(1.5);
  background-color: rgba(255, 255, 200, 0.9);
}

.author{
  margin-top: 25px;
  font-size: 15px;
  font-family: cursive ;
  color: aliceblue;
  background-color: black;
  box-shadow: 0 0 20px white;
}

.container_btn{
  position: absolute;
  right: 10px;
  bottom: 30px;
  display: flex;
  align-items: center;
  width: 170px;
}

.btn2{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 30px;

}

.btn2:hover{
  background-color: black;
  color: aliceblue;
  transform: scale(1.2);
}

.data{
  position: relative;
  font-size: 20px;
  background-color: black;
  color: aliceblue;
  padding: 4px;
  border-radius: 10px;
  margin-right: 5px;
  visibility: hidden;
  bottom: 50px;
  transition: 0s ease;
}

.data2{
  bottom: 0;
  visibility: visible;
  transition-duration: .5s;
}

@media screen and (max-width: 750px) {
  .titulo{
    width: 400px;
  }

  .papel{
    width: 450px;
    height: 250px;
    position: relative;
    right: 30px;
    margin-bottom: 30px;

  }
  .par{
    width: 250px;
    left: 85px;
    bottom: -2px;

  }

}



